.banner {
    display: grid;
    justify-items: center;
}

#home_banner {
    display: grid;
    margin-block: 1rem;
    color: rgba(0, 162, 255, 0.559);
    font-size: 60px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#error_banner {
    display: grid;
    margin-block: 1rem;
    color: rgba(218, 67, 100, 0.511);
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.authentication {
    display: grid;
    padding-bottom: 2rem;
    grid-template-columns: 100px auto 50px auto;
    color: rgba(40, 50, 56, 0.649);
    font-size:1.1rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* #home_banner {
    display: grid;
    margin-block: 1rem;
    color: rgba(0, 162, 255, 0.559);
    font-size: 60px;
    justify-content: center;
    align-items: center;
    justify-items: center;
} */

form{
    display: grid;
    margin: 0;    
    justify-items: center;
}