<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <!-- <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.springframework.org/schema/mvc" xmlns:sec="http://www.springframework.org/security/tags"></html> -->
  <head>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"> -->
    <meta charset="utf-8" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>Spring Boot Application</title>
  </head>
  <body>
    <div class="banner">
        <h4 id="error_banner">Opps.... Something went</h4>
    </div>
    <div class="authentication" sec:authorize="isAuthenticated()">
            Username: <span sec:authentication="name">Bob</span> | <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </div>
    <form th:action="@{/login}" method="post">
      <input type="submit" value="To Log in" />
    </form>
  </body>
</html>
